<h2>To Do</h2>

<p>
	<%= link_to 'New Task', new_task_path %>
</p>

<table>
	<tr>
		<th> Content </th>
		<th> State </th>
		<th colspan="4">  </th>
	</tr>
		<%= render @to_do %>
</table>


<h2>Doing</h2>
<table>
	<tr>
		<th> Content </th>
		<th> State </th>
		<th colspan="5">  </th>
	</tr>
		<%= render @doing %>
</table>


<h2>Done</h2>
<table>
	<tr>
		<th> Content </th>
		<th> State </th>
		<th colspan="4">  </th>
	</tr>
		<%= render @done %>
</table>
