<div class = 'row'>
	<div class="col-md-4">
		<h1>To Do</h1>
		<div class="card border-info">
		  <div class="card-header">
		    Featured
		  </div>
		  <div class="card-body">
		    This is my todo list
		  </div>
		  <div class="card-footer">
		    Featured
		  </div>
		</div>
	</div>

	<div class="col-md-4">
		<h1>Doing</h1>
		<div class="card border-info">
		  <div class="card-header">
		    Featured
		  </div>
		  <div class="card-body">
		    This is my todo list
		  </div>
		  <div class="card-footer">
		    Featured
		  </div>
		</div>
	</div>

	<div class="col-md-4">
		<h1>Done</h1>
		<div class="card border-info">
		  <div class="card-header">
		    Featured
		  </div>
		  <div class="card-body">
		    This is my todo list
		  </div>
		  <div class="card-footer">
		    Featured
		  </div>
		</div>
	</div>
</div>